@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --subheading-top-UI: hsl(276, 100%, 81%);
  --left-chat: rgb(146, 65, 200);
  --right-chat: hsl(271, 15%, 43%);
  --placeholder-text: hsl(206, 6%, 79%);
  --main-heading: hsl(271, 36%, 24%);
  --paragraph: hsl(270, 7%, 64%);
  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);
  --white: hsl(0, 0%, 100%);
  --app-bg: hsl(270, 20%, 96%);
  --submit-btn-bg: hsl(271, 36%, 24%);
  --radio-outline: hsl(289, 100%, 72%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;
}

h1,
p {
  margin: 0;
}

html,
body {
  margin: 0;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-design {
  position: absolute;
  left: -95px;
  top: -100%;
  height: 85vh;
  width: 35vw;
  background-image: linear-gradient(
    to bottom,
    var(--light-magenta),
    var(--light-violet)
  );
  z-index: -1;
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;

  animation: toptodown 700ms cubic-bezier(0.06, -0.35, 0, 1.05) forwards;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5em;
}

.mobile {
  height: 70vh;
  width: 275px;
  background-color: var(--white);
  padding: 0.6em;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;

  opacity: 0;
  animation: fadeIn 500ms ease-in 700ms forwards;
}

.chat-section {
  height: 100%;
  background-color: var(--app-bg);
  display: flex;
  flex-direction: column;
  padding: 1em 0.7em;
  gap: 0.5em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.chat {
  width: 65%;
  padding: 0.5em;
}

.chat p {
  font-size: 0.6em;
}

.left-chat {
  background-color: rgba(146, 65, 200, 0.2);
  border-radius: 10px 10px 10px 5px;
}

.left-chat p {
  color: var(--left-chat);
}

.right-chat.images {
  display: flex;
  gap: 0.5em;
  align-self: flex-end;
  width: 80%;
  margin-top: 0.5em;
}

.last {
  margin-bottom: 0.5em;
}

.images img {
  aspect-ratio: 1;
  width: 50px;
  border-radius: 10px;
}

.right-chat {
  background-color: var(--white);
  align-self: flex-end;
  border-radius: 10px 10px 5px 10px;
}

.right-chat p {
  color: var(--right-chat);
}

.choose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    to right,
    var(--light-magenta),
    var(--light-violet)
  );
  gap: 0.4em;
  width: 75%;
}

.choose p {
  color: rgba(255, 255, 255, 0.474);
}

.choose .price {
  font-weight: 700;
  color: white;
  margin-left: auto;
  margin-right: 0.2em;
}

input[type="radio"] {
  appearance: none;
  margin: 0;
  width: 14px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-clip: content-box;
  border: 0.1px solid rgba(255, 255, 255, 0.474);
  background-color: transparent;
}

input[type="radio"]:checked {
  background-color: #fff;
  padding: 1px;
  border: 1px solid #fff;
}

.send-msg-container {
  display: flex;
  background-color: var(--white);
  margin-top: auto;
  border-radius: 30px;
  height: 30px;
  overflow: hidden;
  align-items: center;
}

.send-msg-container input {
  border: 0;
  outline: 0;
  padding: 0 1.5em;
  font-size: 0.7em;
  height: 100%;
}

input[type="text"]::placeholder {
  color: var(--placeholder-text);
}

.send-btn {
  margin-left: auto;
  margin-right: 0.2em;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--submit-btn-bg);
  position: relative;
}

.arrow {
  position: absolute;
  inset: 0;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

.top-arrow {
  height: 2px;
  width: 10px;
}

.bottom-arrow {
  height: 2px;
  width: 5px;
  transform-origin: right;
  transform: rotateZ(-45deg);
  right: -5px;
  top: -1px;
}

.mobile-top-section {
  position: relative;
  height: 80px;
  background-image: linear-gradient(
    to right,
    var(--light-violet),
    var(--light-magenta)
  );
  display: flex;
  align-items: flex-end;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: space-between;
  gap: 0.5em;
  padding: 0 0.5em 0.8em 0.5em;
  overflow: hidden;
}

.user-profile {
  aspect-ratio: 1;
  width: 25px;
  border-radius: 50%;
  outline: 1px solid var(--subheading-top-UI);
}

.user-name-wrp {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  margin-right: auto;
}

.user-name {
  font-size: 0.8em;
  color: var(--subheading-top-UI);
}

.available {
  color: var(--subheading-top-UI);
  font-size: 0.5em;
}

.top-notch {
  position: absolute;
  top: -22px;
  left: 51px;
  width: 55%;
  height: 40px;
  border-radius: 25px;
  background-color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.more-options {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  margin: 0 0.5em 0.5em 0;
}

.more-options .circle {
  aspect-ratio: 1;
  width: 2px;
  border-radius: 50%;
  background-color: var(--subheading-top-UI);
}

.back-btn {
  width: 20px;
  aspect-ratio: 1;
  position: relative;
  margin-bottom: 0.1em;
  margin-left: 0.1em;
}

.arrow-top,
.arrow-bottom {
  position: absolute;
  width: 8px;
  height: 2px;
  border-radius: 5px;
  background-color: white;
  inset: 0;
  margin: auto;
  transform-origin: left;
}

.arrow-top {
  transform: rotateZ(50deg);
  bottom: 1px;
}

.arrow-bottom {
  transform: rotateZ(-50deg);
  top: 1px;
}

.info-wrp {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1em;

  opacity: 0;
  animation: fadeIn 400ms ease-in 1000ms forwards;
}

.info--title {
  font-weight: 500;
  color: var(--main-heading);
}

.info--subtitle {
  font-weight: 400;
  color: var(--paragraph);
  line-height: 1.7em;
}

@media (max-width: 920px) {
  .info-wrp {
    max-width: 300px;
  }

  .bg-design {
    height: 100vh;
    border-radius: 0;
  }
}

@media (max-width: 700px) {
  .main-container {
    gap: 3em;
  }
}

@media (max-width: 650px) {
  .main-container {
    flex-direction: column;
    padding-block: 4em;
  }

  .bg-design {
    left: -55%;
    height: 72vh;
    width: 100vw;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 310px;
  }

  .info-wrp {
    text-align: center;
  }
}

@media (min-width: 1800px) {
  .bg-design {
    left: -15%;
  }
}

@media (max-height: 780px) {
  .mobile {
    height: 90vh;
  }
}

@media (max-width: 280px) {
  .mobile {
    height: 85vh;
    width: 260px;
  }
}

@media (min-height: 940px) {
  .mobile {
    height: 550px;
  }
}

/* ANIMATIONS */

@keyframes toptodown {
  100% {
    top: 0;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
